services:
  cloudflared:
    command:
      - "tunnel"
      - "run"
      - "--credentials-file"
      - "/home/nonroot/.cloudflared/credentials.json"
      - "--url"
      - "http://backend:5000"
      - "03d94abc-9b35-4c56-a37c-e123810b412e"
    restart: unless-stopped
    networks:
      - appnet

networks:
  appnet:
    external: true
